* {
	box-sizing: border-box;
	transition: all 0.3s;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	position: relative;
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow-x: hidden;
	background-color: #ddd;
}

.wrapper {
	width: 90vw;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
}

.footer {
	width: 100%;
	height: 30px;
	color: white;
	font-weight: 500;
	background-color: #333;
	line-height: 30px;
	text-align: center;
	transition: all 0s;
}

.textArea {
	padding: 10px;
	width: 75%;
	min-height: 100px;
	border: 1px solid black;
	border-radius: 5px;
	animation: showElementAnimation 0.3s linear 0.6s forwards;
	opacity: 0;
	transform: translateY(-20px);
}

.toolbar {
	margin: 20px 0;
	width: 200px;
	display: flex;
	animation: showElementAnimation 0.3s linear 0.6s forwards;
	opacity: 0;
	transform: translateY(-20px);
}

.bottomToolbar {
	display: flex;
	width: 75%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	animation: showElementAnimation 0.3s linear 0.6s forwards;
	opacity: 0;
	transform: translateY(-20px);
}

.bulletBtn,
.boldBtn,
.italicBtn {
	width: 40px;
	height: 40px;
	display: inline-block;
	color: black;
	margin: auto;
	text-align: center;
	line-height: 40px;
}

a:hover,
.saveBtn:hover,
.readBtn:hover,
.fa-times:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.activeBtn,
.activeBtn:hover {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.saveBtn,
.readBtn {
	margin-top: 20px;
	padding: 15px 30px;
	border: 1px solid black;
	background-color: #ddd;
	border-radius: 25px;
	font-weight: 600;
	font-size: 16px;
	width: 150px;
	text-align: center;
	border-radius: 5px;
}

input[type='file'] {
	display: none;
}

.fileName {
	margin-left: 0px;
	margin-top: 10px;
	line-height: 50px;
	text-align: center;
}

.header {
	opacity: 0;
	transform: translateY(-20px);
	animation: showElementAnimation 0.3s linear 0.3s forwards;
}

.notificationWrapper {
	position: absolute;
	opacity: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 10px;
}

.notificationContent {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.notification {
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #0b0;
	color: #fff;
	font-size: 16px;
	opacity: 0;
}

.fa-times {
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 5px;
}

.showNotification {
	animation: showNotification 6s linear 0s forwards;
}

@keyframes showElementAnimation {
	0% {
		transform: translateY(-20px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes showNotification {
	0% {
		transform: translateY(-20px);
		opacity: 0;
	}
	5% {
		transform: translateY(0px);
		opacity: 1;
	}
	95% {
		transform: translateY(0px);
		opacity: 1;
	}
	100% {
		transform: translateY(-20px);
		opacity: 0;
	}
}

@media screen and (min-width: 650px) {
	.bottomToolbar {
		flex-direction: row;
	}
	.fileName {
		margin-left: 20px;
		margin-top: 20px;
	}
}

@media screen and (min-width: 850px) {
	.textArea {
		width: 60%;
	}
	.bottomToolbar {
		width: 60%;
	}
	.textArea {
		min-height: 200px;
	}
}

@media screen and (min-width: 1250px) {
	.textArea {
		width: 50%;
	}
	.bottomToolbar {
		width: 50%;
	}
	.textArea {
		min-height: 300px;
	}
}
